<div class="container">
  <hr>

  <!--TODO: Write out the paragraph that I drafted in notebook.-->
  <div class="row" style="margin-top: 4%;">
    <div class="col-md-4 blogTitleBlock">
      <i>
        <strong>
          <h2 class="blogTitle">
            Why I Love Mixed Realities
          </h2>
        </strong>
      </i>

      <!--TODO: Make this white line divider be horizontal and also have it be dynamic to screen size.-->
      <!--<hr style="border-color: bisque;margin-left: 67%; width: 150%; transform: rotate(90deg);">-->

    </div>

    <div class="col-md-8 blogTextBlock">
      <p class="blogText">
        As a child I was always consumed by my imagination. Days would be spent playing outside pretending as though
        I'm in some heroic world fighting off the enemies. Toys would be thrown, and lego sculptures would be built.
        I could only dream of a day where my actual reality would consist of such exciting imaginary worlds.
        <!--TODO: Look up how to indent text. May be better to use a textarea tag rather p.-->
        That day has come. Let us fast forward from age 5 to 21. I now invested my money towards a custom build PC along
        with an HTC Vive. A few weeks ago, I spent my days and nights programming and recreating a Star Wars VR Simulator
        in Unity. It was always a childhood dream of mine to be capable of using the force. Thanks to Fuseman tutorials and
        dubious curiosity, I was achieving of doing this!
      </p>
    </div>
  </div>    <!-- Div class row -->

</div>
