#middleNav {
  position: relative;
  vertical-align: middle;
  margin-top: 15px;
  width: 70%;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*text-align: center;*/
}

.nav-pills {
  margin: 0 auto;
  padding: 0;
  width: 400px;
}

/*ul:hover will target the navbar ul selector each individual tab*/
ul:hover {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-right: 1px ridge #000;
  border-left: 1px ridge #000;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background-color: rgba(154,217,249,0.33)
}

/*Each individual tab of navbar.*/
li:hover {
}


.box {
  /*margin: 20px auto;*/
  background: #5FCF80;
  /*width: 150px;*/
  /*height: 150px;*/
}
.circle {
  transform: rotate(360deg);
  background: #9351A6;
  /*border-radius: 50%;*/
  /*margin: 20px auto;*/
  /*width: 150px;*/
  /*height: 150px;*/
}
.rotate {
  transition: all 1s ease-in-out;
}
