<!--TODO: Make navbar centered in all screen size instances, so make it dynamic.-->
<div class="container-fluid" id="middleNav">
  <ul class="nav nav-pills nav-justified" id="navBorder">

    <!--TODO: Enable class="active" on component li-->
    <li role="presentation">
      <!--<a href="#" class="box rotate" ngClass="{'box': boxClass, 'circle': !boxClass}" (click)="viewSoftwarePosts()">Software</a>-->
      <!--<a href="#" (click)="viewSoftwarePosts()" [(ngModel)]="softwareToggle">Software</a>-->
      <a href="#" (click)="viewSoftwarePosts()">Software</a>
    <li>

    <li role="presentation">
      <a href="#" (click)="viewArtworkPosts()">Artwork</a>
    </li>

    <li role="presentation">
      <a href="#" (click)="viewBlogPosts()">Blog</a>
    <li>

    <li role="presentation">
      <a href="#" (click)="viewResumeFile()">Resume</a>
    <li>

  </ul>
</div>

