<div class="container" style="margin-top: 20px;">
  <!--<div class="row">-->

  <hr>

    <div class="row">


        <!--Need to move this to be split into 2 columns.-->
          <div class="col-md-12" style="margin-left: 25%;">
            <!--<h4 style="margin-left: 5%;">VR:</h4>-->
            <h4>
              <strong>Virtual Reality Art:</strong>
            </h4>
            <figure>
              <iframe width="540" height="380" src="http://tiltbru.sh/9RUUdNUCaMf/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
              <br />
              <figcaption class="col-md-8" style="margin-top: 15px;">
                <i>
                  Sea otters hold hands when they sleep so they don't drift away from each other.
                </i>
              </figcaption>
            </figure>
          </div>

          <!--<p class="col-md-8" style="padding-left: 30%; margin-top: 15px;">-->
            <!--<i>-->
              <!--This was one of my earlier pieces.-->
              <!--This was one of my earlier pieces.-->
              <!--This was one of my earlier pieces.-->
            <!--</i>-->
          <!--</p>-->
      <hr>

      <div class="col-md-12" style="margin-left: 25%;">
        <!--<h4 style="margin-left: 5%;">VR:</h4>-->
        <h4>
          <!--<strong>Virtual Reality Art:</strong>-->
        </h4>
        <figure>
          <iframe width="640" height="480" src="http://tiltbru.sh/edmsSFmL-Ga/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
          <br />
          <figcaption class="col-md-8" style="margin-top: 15px;">
            <i>
              Sea otters hold hands when they sleep so they don't drift away from each other.
            </i>
          </figcaption>
        </figure>
      </div>


    </div>  <!-- End of row-->
</div>  <!-- End of container -->
<!--<app-nav></app-nav>-->
