<!--rel="nofollow" if I don't want ranking of search engine results.-->
<!--target="_blank" sets the link opening to a new tab-->
<div class="container" id="footTagNetwork">

  <hr>

  <!--Have to make single line because whitespace from 'enter'n
  results in a dashed line appearing to the right of icon.
  https://stackoverflow.com/questions/16116984/hovering-over-one-link-makes-tiny-dash-appear-to-right-of-it-->

  <!--TODO: Add a devpost account link.-->
  <!--TODO: Learn how to center image icons!-->
  <!--https://www.w3schools.com/howto/howto_css_social_media_buttons.asp-->

  <!--Email-->
  <a href="mailto:abahrema@asu.edu" rel="nofollow" target="_blank" title="Shoot me an email"><i class="fa fa-envelope" aria-hidden="true"></i></a>

  <!--Github-->
  <a href="https://github.com/TheWiselyBearded"   title="Check out my projects!"><i class="fa fa-github" aria-hidden="true"></i></a>

  <!--Twitter-->
  <a href="https://twitter.com/lirezaBahremand/" rel="nofollow" target="_blank" title="Tweet tweet me, I chirp back!"><i class="fa fa-twitter" aria-hidden="true"></i></a>

  <!--Instagram-->
  <a href="https://www.instagram.com/bahremand/" rel="nofollow" target="_blank"  title="Check out my journeys!"><i class="fa fa-instagram" aria-hidden="true"></i></a>

  <!--Facebook-->
  <a href="https://www.facebook.com/alireza.bahrema" target="_blank" title="If we aren't friends on Facebook we aren't friends right?"><i class="fa fa-facebook" aria-hidden="true"></i></a>

  <!--Linkedin-->
  <a href="https://www.linkedin.com/in/alirezabahremand/" rel="nofollow" target="_blank"  title="Check out my credentials!"><i class="fa fa-linkedin" aria-hidden="true"></i></a>



  <!--<li class="icons-list__item">-->
    <!--<a href="#" rel="nofollow" target="_blank" title="See my StackOverflow profile">-->
      <!--<i class="fa fa-stack-overflow" aria-hidden="true"></i>-->
      <!--Stack Overflow-->
    <!--</a>-->
  <!--</li>-->
</div>
